{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
    <h1>
      TODO List
      <a href="{% url 'todo:task_create' %}" class="btn btn-primary link-to-page">
      Add
      </a>
    </h1>
    <br>
    {% if task_list %}
    {% for task in task_list %}
      <h2>
        {{ task.name }}
        {% if task.is_completed %}
          <span style="color: green;">Done</span>
        {% else %}
          <span style="color: red;">Not Done</span> {% endif %}
      </h2>
      <p>Created: {{ task.create_at }} {% if task.is_completed %} <span style="color: brown;">Deadline: {{task.deadline}}</span> {% endif %}</p>
      <h3 style="color: grey;">
        Tags: {% for tag in task.tags.all %} {{ tag.name }} {% endfor %}
      </h3>
      <hr>
    {% endfor %}
    {% else %}
      <p>There are no task in the list.</p>
    {% endif %}
{% endblock %}
